<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ewav.SmokeTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!--<applicationSettings>
          
        <Ewav.SmokeTests.Properties.Settings>
            <setting name="PostgresMetaDataConnectionString" serializeAs="String">
                <value>aa</value>
            </setting>
            <setting name="PostgresMetaDataViewName" serializeAs="String">
                <value>dd</value>
            </setting>
            <setting name="PostgresMetaDatabaseType" serializeAs="String">
                <value>ff</value>
            </setting>
        </Ewav.SmokeTests.Properties.Settings>
    </applicationSettings>-->
  
  
  <appSettings>

    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <add key="KeyForConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ=="/>
    <add key="KeyForConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg=="/>
    <add key="KeyForConnectionStringVector" value="G6up33hyUX5guTj+"/>

    
    <!--<add key="KeyForPostgresUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <add key="KeyForPostgresConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ=="/>
    <add key="KeyForPostgresConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg=="/>
    <add key="KeyForPostgresConnectionStringVector" value="G6up33hyUX5guTj+"/>

    <add key="KeyForSqlUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <add key="KeyForSqlConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ=="/>
    <add key="KeyForSqlConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg=="/>
    <add key="KeyForSqlConnectionStringVector" value="G6up33hyUX5guTj+"/>-->

    
    

    <!-- 
        Connect to MySql on ETIX039  for metadata  
    -->    
    <add key="MySqlMetaDataConnectionString" value="fEYomjp0x+dJ5vV0WuLrgw1bV/ccICfO/04wp6Pz2cUcfRy6/P32x4cahYudlNZQs2rrFS/zgUEnpX7WHNFmgoU8cs5163bz4R4JcUwlm8g="/>
    <add key="MySqlMetaDataViewName" value="vwUserDatasource"/>
    <add key="MySqlMetaDatabaseType" value="MySQL"/>

    
    <!--  
        Connect to  SQL Server  on ETI OSELS_EWAV  for metadata   
    -->
    <add key="SQLServerMetaDataConnectionString" value="SSGMKqpIe+GKoRpdogUaRcBJ/XKa0J32HfgRdVrSF5riza9Y9cE5QagmSyB9jHYlUx4JDP9VsqYxSdwdGCZaCgR69JF8zFvZ0YnfUhf3qyKVZmSpYZZ9cY7Nb8qouC5IpkaNXqHgLkKfaIbVKzQavr+6Yt56sT4qJSwIzuOVInE="/>    
    <add key="SQLServerMetaDataViewName" value="vwUserDatasource"/>
    <add key="SQLServerMetaDatabaseType" value="SQLServer"/>



  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
