<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ewav.SmokeTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
 
  
  <appSettings>

    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <add key="KeyForConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ=="/>
    <add key="KeyForConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg=="/>
    <add key="KeyForConnectionStringVector" value="G6up33hyUX5guTj+"/>

    
    
    <!-- 
        Connect to MySql on ETIX039  for metadata  
    -->    
    <add key="MySqlMetaDataConnectionString" value="GZf3z5BR8dOiwJRKfgmxWzLpaCAA5MIn65tinxoELW/6prrPLNDXaK0mS25StIrwBr9hTF/vAMCmtuIXjlXkk5Cbv6izv697zJiRcF2isE4="/>
    <add key="MySqlMetaDataViewName" value="vwUserDatasource"/>
    <add key="MySqlMetaDatabaseType" value="MySQL"/>

    
    <!--  
        Connect to  SQL Server  on ETI OSELS_EWAV  for metadata   
    -->
    <!--<add key="SQLServerMetaDataConnectionString" value="SSGMKqpIe+GKoRpdogUaRcBJ/XKa0J32HfgRdVrSF5riza9Y9cE5QagmSyB9jHYlUx4JDP9VsqYxSdwdGCZaCgR69JF8zFvZ0YnfUhf3qyKVZmSpYZZ9cY7Nb8qouC5IpkaNXqHgLkKfaIbVKzQavr+6Yt56sT4qJSwIzuOVInE="/>    
    <add key="SQLServerMetaDataViewName" value="vwUserDatasource"/>
    <add key="SQLServerMetaDatabaseType" value="SQLServer"/>-->

    <!-- 
        Conect to ETI OSELS_EWAV_DEMO  SQL Server for metadata   
    -->
    <add key="SQLServerMetaDataConnectionString"  value="SSGMKqpIe+GKoRpdogUaRcBJ/XKa0J32HfgRdVrSF5riza9Y9cE5QagmSyB9jHYlNrMGwB3Lc5lERCgEP2/lTiSeBANTtlONk66zjzMHUmPFsMGVr/vjf5AgFi/PFTMq/SlUoG6un7pZOFUoo5VTtGM8+hilyztl5lDYYpCcBR9twUsACEFkhsORqNRdtAA3" />
    <add key="SQLServerMetaDataViewName"      value="vwUserDatasource" />
    <add key="SQLServerMetaDatabaseType"  value="SQLServer"      />


    <!-- Connect to PostgreSQL on ETIX041 for metadata.
    -->
    <add key="PostgresMetaDataConnectionString" value="Xu0Ucrv0HuQUSpRg3IMMrfCy3nNKi4eVyPrH67AcOqmENLX/dj0zwTtqlH8G2NCYSQvtPd0+cPCMGrpbDh21l+8y9oONeww3jl1r/IrU6Gg="/>
    <add key="PostgresMetaDataViewName"      value="vwUserDatasource" />
    <add key="PostgresMetaDatabaseType"  value="PostgreSQL"      />

    

    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
