<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="OSELS_EWAVConnectionString" connectionString="Data Source=ETIDHAP56-SQL;Initial Catalog=OSELS_EWAV;Persist Security Info=True;User ID=shorterd01;Password=shorterd01"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <!--<remove name="OPTIONSVerbHandler" />-->
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="Windows"></authentication>-->
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!-- Only valid values for authentication are Windows, Forms-->
    <authentication mode="Windows">
      <!--Idle timeout set to 180 minutes-->
      <forms loginUrl="ewav.aspx" name=".EWAV_ASPXAUTH" timeout="180" />
    </authentication>
    <identity impersonate="true" />
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider" />
    <profile enabled="false" />
    <globalization enableClientBasedCulture="true" culture="auto:en-US" uiCulture="auto:en-US" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <!-- Email Configuration -->
    <!-- To Do: Update Email section -->
    <add key="EMAIL_USE_AUTHENTICATION" value="True" />
    <add key="EMAIL_USE_SSL" value="true" />
    <add key="EMAIL_SUBJECT" value="This is the Subject line" />
    <add key="EMAIL_FROM" value="saewav@gmail.com" />
    <add key="EMAIL_PASSWORD" value="saewavpass" />
    <!--Email_From password-->
    <!--Only Sends email to this address while in DEBUG mode. In RELEASE mode email is sent to actual email address-->
    <add key="EMAIL_TO" value="ewavuser@gmail.com,aushami@gmail.com" />
    <!--password is newpass123-->
    <add key="SMTP_PORT" value="587" />
    <add key="SMTP_HOST" value="smtp.gmail.com" />
    <!-- End Email Configuration -->
    <!-- Password Policy -->
    <!-- To Do: Update as per your organizations policy -->
    <add key="PasswordMinimumLength" value="6" />
    <add key="PasswordMaximumLength" value="10" />
    <add key="NumberOfTypesRequiredInPassword" value="3" />
    <add key="TotalNumberOfTypesInPassword" value="4" />
    <add key="UseNumbers" value="true" />
    <add key="UseUpperCase" value="true" />
    <add key="UseLowerCase" value="true" />
    <add key="UseSymbols" value="true" />
    <add key="Symbols" value="@#$|{}^" />
    <add key="RepeatCharacters" value="true" />
    <add key="ConsecutiveCharacters" value="false" />
    <add key="UseUserIdInPassword" value="false" />
    <add key="UseUserNameInPassword" value="false" />
    <!-- End Password Policy -->
    <add key="FREQUENCY_ROW_LIMIT" value="5000" />
    <add key="FREQUENCY_CROSSTAB_LIMIT" value="100" />
    <add key="ABERRATION_ROW_LIMIT" value="366" />
    <add key="EnableExceptionDetail" value="true" />
    <!--Used only for showing the textbox displaying the exception stacktrace. -->
    <add key="SendEmailOnException" value="true" />
    <!--<add key="EwavLITELocalPath"    value="/ewavwebapi/app/index.html" />
    <add key="EwavAbsoluteUriEndPt"  value="ewav.aspx" />-->
    <!--Used only for sending stack trace in an email if exception occurs. -->

    <!-- Encryption keys -->
    <!-- Updated 8/7/2013 1:51 PM  by shorterd01  -->
    <!-- GUID:  7D2418BF-AA65-45B8-A1D6-28132F04B97C -->
    <!-- WARNING:  -->
    <!-- Once users, datasources or connection strings have been added to the database these keys *cannot* be modified. -->
    <!-- If these keys are modified all existing encrypted data will be invalid.  -->
    <!-- WARNING:  -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
         <!--Used only for sending stack trace in an email if exception occurs. -->
    <!-- Encryption keys -->
    <!-- Updated 8/7/2013 1:51 PM  by shorterd01  -->
    <!-- GUID:  7D2418BF-AA65-45B8-A1D6-28132F04B97C -->
    <!-- WARNING:  -->
    <!-- Once users, datasources or connection strings have been added to the database these keys *cannot* be modified. -->
    <!-- If these keys are modified all existing encrypted data will be invalid.  -->
    <!-- WARNING:  -->
    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw==" />
    <add key="KeyForConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ==" />
    <add key="KeyForConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg==" />
    <add key="KeyForConnectionStringVector" value="G6up33hyUX5guTj+" />
    <!-- End of  Encryption keys -->    
    
    <add key="KeyForBingMaps"  value="Ar18oq-Z_lYBpcicjVHK0mcHcitx8p124so7CPAR9oAuP_7i3kk1eXu2pDv1WnIk" />        

   
     <!-- Connect to Azure EIWeb_dev 
    -->
    <!--<add key="MetaDataConnectionString" value="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iMItiBYk91lG5pffaSLzwkaY"/>-->

    <add key="MetaDataConnectionString" value="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iMItiBYk91lG5pffaSLzwkaY" /> 
    <!--<add key="MetaDataConnectionString" value="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iML7ALlv3eXtR4f9v7fMVFmLyaibtszP6KfcusqET9pkDw==" />-->
    <add key="MetaDataViewName" value="vwUserDatasource" />
    <add key="MetaDatabaseType" value="SQLServer" />
    <!-- End SQL Server -->
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- =================================================================== --> 
    
    <!-- Connect to Azure EIWeb_dev 
    -->
    <!--     <add key="MetaDataConnectionString" value="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iMItiBYk91lG5pffaSLzwkaY" />  -->
    <!--<add key="MetaDataConnectionString" value="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iMItiBYk91lG5pffaSLzwkaY" />-->

    <!--<add key="MetaDataConnectionString" value="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iML7ALlv3eXtR4f9v7fMVFmLyaibtszP6KfcusqET9pkDw==" />-->
    <!--<add key="MetaDataViewName" value="vwUserDatasource" />
    <add key="MetaDatabaseType" value="SQLServer" />-->
    <!-- End SQL Server -->

    <!-- MySQL -->
    <!--<add key="MetaDataConnectionString" value="/G90R/lBRUuO/6tqCx7reQOrOHppsCg8Sd9LDkH5E18fPpe6gwx/HRG9doeiL/fmDYkNS/pLqXAycOuegbcJS2Ex8WVWHZhsoFvhF1VoUr4="/>
    <add key="MetaDataViewName" value="vwUserDatasource"/>
    <add key="MetaDatabaseType" value="MySQL"/>-->
    <!-- End MySQL -->

    <!-- PostgreSQL -->
    <!--<add key="MetaDataConnectionString" value="VBkfmsPa92CAYapwsAvUEw6JVJMIrajempBLl2LbSUCdzL6QaIZyy1tdyqXCJmZ6h2N1IiMBW8wSc2FEzRuhDzfSGjTEAxEtJx0iLruI59oa7tPzUDz97x/TTA2LN7S/"/>
    <add key="MetaDataViewName"      value="vwUserDatasource"/>
    <add key="MetaDatabaseType"  value="PostgreSQL"     />-->
    <!-- End PostgreSQL -->
    <!-- End Database Configuration -->
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationFramework" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.DataSetExtensions" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Entity" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0-10.0.3" newVersion="10.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>